body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-light {
    background-color: #f5d0b5!important;
}

.special {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0px;
}

.special h3 {
  margin: 50px 0px;
}

.contact {
    text-align: center;
    padding: 20px;
}

@media (min-width: 48em) {
      .navbar-nav {
        margin-left: auto!important;
        margin-right: 0!important;
    }
}

.photo img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 50px;
  flex: 1;
}
